<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>Clover.NVRamDisk</key>
			<data>
			WWVz
			</data>
			<key>EFILoginHiDPI</key>
			<data>
			AQAAAA==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Lw==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			7w==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			kIKsBQEAAADgFKy8Msl1BA==
			</data>
			<key>bluetoothInternalControllerInfo</key>
			<data>
			kIKsBQAA4BSsvDLJdQQ=
			</data>
			<key>boot-args</key>
			<string>keepsyms=1 shikigva=41 shiki-id=Mac-7BA5B2D9E42DDD94</string>
			<key>csr-active-config</key>
			<data>
			MHgwNjc=
			</data>
			<key>efi-apple-payload0</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxVUERBVEVSU1xNVUxUSVVQREFURVJcU21jRmxhc2hlci5l
			Zmk8L3N0cmluZz48L2RpY3Q+PC9hcnJheT4A
			</data>
			<key>efi-apple-payload0-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEZABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQAQQBU
			AEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABTAG0A
			YwBGAGwAYQBzAGgAZQByAC4AZQBmAGkAAAB//wQA
			</data>
			<key>efi-apple-payload1</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxVUERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUJFMDg4QUY4
			QzVFQjRGQTIuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
			</data>
			<key>efi-apple-payload1-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQAQQBU
			AEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEA
			YwAtAEIARQAwADgAOABBAEYAOABDADUARQBCADQARgBBADIALgBz
			AG0AYwAAAH//BAA=
			</data>
			<key>efi-apple-payload2</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxVUERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl9iYXNl
			LnNtYzwvc3RyaW5nPjwvZGljdD48L2FycmF5PgA=
			</data>
			<key>efi-apple-payload2-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEaABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQAQQBU
			AEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwA
			YQBzAGgAZQByAF8AYgBhAHMAZQAuAHMAbQBjAAAAf/8EAA==
			</data>
			<key>efi-apple-payload3</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxVUERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRh
			dGUuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
			</data>
			<key>efi-apple-payload3-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEbABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQAQQBU
			AEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwA
			YQBzAGgAZQByAF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
			</data>
			<key>efi-apple-payload4</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxVUERBVEVSU1xNVUxUSVVQREFURVJcTWFjLUJFMDg4QUY4
			QzVFQjRGQTIuZXBtPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
			</data>
			<key>efi-apple-payload4-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQAQQBU
			AEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEA
			YwAtAEIARQAwADgAOABBAEYAOABDADUARQBCADQARgBBADIALgBl
			AHAAbQAAAH//BAA=
			</data>
			<key>efi-apple-recovery</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjMxNDg3MjAxLTJBNUEt
			NERGMy1BOEZFLTdGMjhBOEU1NkI2ODwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMHMxPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxB
			UFBMRVxGSVJNV0FSRVxJTTE4My5mZDwvc3RyaW5nPjwvZGljdD48
			L2FycmF5PgA=
			</data>
			<key>efi-apple-recovery-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgABAAAAKAAAAAAAAAAAQAYAAAAAAAFySDFaKvNNqP5/KKjl
			a2gCAgQEPgBcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIATQBX
			AEEAUgBFAFwASQBNADEAOAAzAC4AZgBkAAAAf/8EAA==
			</data>
			<key>efi-backup-boot-device</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjJGRjBENUFDLTk0Rjkt
			NDdGNS1CNTkyLTAwMTQ3RTVBQTNGQTwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrM3MyPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEQ3NEQ0
			MjgxLUUwM0UtNDA3MC1CNzFDLTc0M0JBOUUxRDBEQlxTeXN0ZW1c
			TGlicmFyeVxDb3JlU2VydmljZXNcYm9vdC5lZmk8L3N0cmluZz48
			L2RpY3Q+PC9hcnJheT4A
			</data>
			<key>efi-backup-boot-device-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgACAAAAKEAGAAAAAAAnGRYdAAAAAL9NUAmk229AthxUpIAA
			QbMCAgQDJAD3/HS+fAvzSZFHAfQELmhCrNXwL/mU9Ue1kgAUflqj
			+gQEmgBcAEQANwA0AEQANAAyADgAMQAtAEUAMAAzAEUALQA0ADAA
			NwAwAC0AQgA3ADEAQwAtADcANAAzAEIAQQA5AEUAMQBEADAARABC
			AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIA
			ZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB/
			/wQA
			</data>
			<key>efi-backup-boot-device-data-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxYQAAEAAAAAAAAAAAAA
			AAQBKgACAAAAKEAGAAAAAABgguEOAAAAAEN4TZVMRl9DoZ461Qw9
			nYwCAgQDJAD3/HS+fAvzSZFHAfQELmhCJuSKEoZm7kyzj32gsZyY
			SgQEmgBcADMAOQAzADYARQA1ADYAQgAtAEQARAA2ADIALQA0ADcA
			RQBCAC0AQQBEAEUANwAtADkARABGADgAQQBGAEYANwBCAEIANQA2
			AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIA
			ZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB/
			/wQA
			</data>
			<key>efi-boot-device</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjJGRjBENUFDLTk0Rjkt
			NDdGNS1CNTkyLTAwMTQ3RTVBQTNGQTwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrM3MyPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XDk0NzYz
			NTdELUUyNTAtNDMzNy1BNkJCLTUwN0IxNjk0RTBGQlxTeXN0ZW1c
			TGlicmFyeVxDb3JlU2VydmljZXNcYm9vdC5lZmk8L3N0cmluZz48
			L2RpY3Q+PC9hcnJheT4A
			</data>
			<key>efi-boot-device-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAbAQEGAAAAAxYQAAEAAAAAG0SLRL2p
			8AQBKgACAAAAKEAGAAAAAAAnGRYdAAAAAL9NUAmk229AthxUpIAA
			QbMCAgQDJAD3/HS+fAvzSZFHAfQELmhCrNXwL/mU9Ue1kgAUflqj
			+gQEmgBcADkANAA3ADYAMwA1ADcARAAtAEUAMgA1ADAALQA0ADMA
			MwA3AC0AQQA2AEIAQgAtADUAMAA3AEIAMQA2ADkANABFADAARgBC
			AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIA
			ZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB/
			/wQA
			</data>
			<key>fakesmc-key-#KEY-ui32</key>
			<data>
			AAAAEA==
			</data>
			<key>fakesmc-key-$Adr-ui32</key>
			<data>
			AAADAA==
			</data>
			<key>fakesmc-key-$Num-ui8</key>
			<data>
			AQ==
			</data>
			<key>fakesmc-key-BATP-flag</key>
			<data>
			AA==
			</data>
			<key>fakesmc-key-BEMB-flag</key>
			<data>
			AA==
			</data>
			<key>fakesmc-key-BNum-ui8</key>
			<data>
			AA==
			</data>
			<key>fakesmc-key-EPCI-ui32</key>
			<data>
			CXDwAA==
			</data>
			<key>fakesmc-key-MSAc-ui16</key>
			<data>
			AAA=
			</data>
			<key>fakesmc-key-MSFW-ui8</key>
			<data>
			AQA=
			</data>
			<key>fakesmc-key-MSPS-ui16</key>
			<data>
			AAM=
			</data>
			<key>fakesmc-key-MSTc-ui8</key>
			<data>
			AA==
			</data>
			<key>fakesmc-key-MSWr-ui8</key>
			<data>
			AA==
			</data>
			<key>fakesmc-key-RBr -ch8*</key>
			<data>
			ajEzM180XwA=
			</data>
			<key>fakesmc-key-REV -ch8*</key>
			<data>
			AkAPAAAA
			</data>
			<key>fakesmc-key-RMde-char</key>
			<data>
			QQ==
			</data>
			<key>fakesmc-key-RPlt-ch8*</key>
			<data>
			ajEzNQAAAAA=
			</data>
			<key>fmm-computer-name</key>
			<data>
			aU1hY1Bybw==
			</data>
			<key>fmm-mobileme-token-FMM</key>
			<data>
			YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91
			bnJlZ2lzdGVyU3RhdGVYdXNlckluZm9ZYXV0aFRva2VuXxARb3NV
			c2VyRGlzYXBwZWFyZWReZGlzYWJsZUNvbnRleHRWdXNlcmlkXWVu
			YWJsZUNvbnRleHRYdXNlcm5hbWVYcGVyc29uSURXYWRkVGltZVRn
			dWlkXxASZW5hYmxlZERhdGFjbGFzc2VzXxATZGF0YWNsYXNzUHJv
			cGVydGllcxAA0xAREhMUFV8QFUluVXNlT3duZXJEaXNwbGF5TmFt
			ZV8QE0luVXNlT3duZXJGaXJzdE5hbWVfEBJJblVzZU93bmVyTGFz
			dE5hbWVfEA9NYXJ0aW4gRWFzdHdvb2RWTWFydGluWEVhc3R3b29k
			XxDMRUFCcEFBQUFCTHdJQUFBQUFGMFBldWtSRG1kekxtbGpiRzkx
			WkM1aGRYUm92UUNOV2JrTWFPWXZLMDRsMXBnbHR0UTBIZmhfcE9q
			eVlodVVuUTFRVk45RlBwN25VaGhIWnZEajRsa3k2c0lDb19LS2dB
			UExrbWYwQU9oMDBnOWREbXVhQjRUbWV3RldaY2hxaU9OSzI3Nmlp
			N1M3T3RaVkJVZG9WZ253UTdNZEhUZjNVVHFaUnhDTHN3My1RNmwx
			clRMWU05d0pvQX5+CREB9V8QEW0uZWFzdHdvb2RAbWUuY29tWTQz
			NjY0OTg3OSNB10Pe3cYMpl8QJDVDQThFMzlELTUyODItNEQ2My1B
			QjAxLTIyRDgzQjdFNzgxRaEeXxAhY29tLmFwcGxlLkRhdGFjbGFz
			cy5EZXZpY2VMb2NhdG9y0R4g1SEiIyQlJicoKSpWYXBzRW52WGhv
			c3RuYW1lXWlkc0lkZW50aWZpZXJWc2NoZW1lXWF1dGhNZWNoYW5p
			c21aUHJvZHVjdGlvbl8QE3AzNS1mbWlwLmljbG91ZC5jb21fECQ2
			MjhEOUMyMi1BRjVBLTRGODMtOTE0My00NTQxNkE2QjkwMDRVaHR0
			cHNVdG9rZW4ACAAjADUAPgBIAFwAawByAIAAiQCSAJoAnwC0AMoA
			zADTAOsBAQEWASgBLwE4AgcCCAILAh8CKQIyAlkCWwJ/AoICjQKU
			Ap0CqwKyAsACywLhAwgDDgAAAAAAAAIBAAAAAAAAACsAAAAAAAAA
			AAAAAAAAAAMU
			</data>
			<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
			<data>
			QnJpZGdlSGFzQWNjb3VudFZhbHVl
			</data>
			<key>multiupdater-retry-limits</key>
			<data>
			AQAAAAEAAAAAAAAA
			</data>
			<key>multiupdater-state</key>
			<data>
			AQAAAAEAAAAAAAAAAAAAAAAAAAA=
			</data>
			<key>prev-lang:kbd</key>
			<data>
			ZW4tR0I6Mg==
			</data>
			<key>security-mode</key>
			<string>none</string>
			<key>specialbootdevice</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAUAwUGABMABAEqAAIAAAAoQAYAAAAA
			ALC/HgcAAAAA1HypU+8pK06mpJLPid8NvgICf/8EAA==
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
			<key>BootCurrent</key>
			<data>
			CwA=
			</data>
			<key>BootOrder</key>
			<data>
			CwAAAAoADAAHAAgA
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
